.info-row
	.info-row__inner
		ul.socials
			li.socials__item
				a(href="#").socials__link.socials__link_fb что-нибудь
			li.socials__item
				a(href="#").socials__link.socials__link_vk что-нибудь
			li.socials__item
				a(href="#").socials__link.socials__link_tw что-нибудь
		.phone
			| +7 (921) 123-12-13
		.address
			| ул. Маяковская 6, офис 17