nav.nav
	ul.nav__list
		li.nav__item
			a.nav__link(href="#") Планшеты
		li.nav__item
			a.nav__link.nav__link_active(href="#") Мобильные телефоны
		li.nav__item
			a.nav__link(href="#") Mp3 плееры
		li.nav__item
			a.nav__link(href="#") Персональные компьютеры
		li.nav__item
			a.nav__link(href="#") Ноутбуки
		li.nav__item
			a.nav__link(href="#") Аксессуары
		li.nav__item
			a.nav__link(href="#") Бытовая техника

			//загуглить как передавать в многомерные массивы статус active
