.crumbs{
	width: 1100px;
	margin: 0 auto;
}

.crumbs__list{
	margin: 0;
	padding: 0;
}

.crumbs__item{
	list-style: none;
	display: inline-block;
}

.crumbs__link{
	display: inline-block;
	text-decoration: none;
	font-family: 'OpenSansRegular';
	font-size: 14px;
	color: #303030;
}

.crumbs__link:after{
	content: ' >';
}

.crumbs__link_active{
	color: #ff6600;
	text-decoration: underline;
}

.crumbs__link_active:after{
	content: none;
}

.page-title{
	font-family: 'OpenSansBold';
	font-size: 20px;
	color: #333;

}